.not-found {
  text-align: center;
  padding: 30px 0;
  border-bottom: 1px solid var(--main-color);
}

.title {
  font-weight: 300;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.link {
  margin-bottom: 20px;
  display: block;
}

.link-text {
  font-style: italic;
  color: var(--main-color);
  transition: 0.3s linear;
}

.link-text:hover {
  color: var(--secondary-color);
}

.link-text:visited {
  color: var(--secondary-color);
  font-weight: 700;
}


@media only screen and (min-width: 768px) {
  .not-found {
    padding: 50px 0;
  }
  .not-found-info {
    text-align: left;
  }
}