.about {
  padding: 40px 0;
  text-align: center;
}

.about-content {
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.about-content-item:not(:last-of-type) {
  margin-bottom: 5px;
}

@media only screen and (min-width: 768px) {
  .about-content {
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 1200px) {
  .about-content {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  .about-content {
    width: 60%;
  }
}