.contact {
  text-align: center;
  padding: 30px 0;
}

.contact__details {
  padding: 0 15px;
  order: 3;
  display: flex;
  flex-direction: column;

}

.contact__map {
  order: 2;
  margin-bottom: 30px;
}

.map {
  height: 320px !important;
}

.title {
  order: 1;
  margin-bottom: -10px;
}

.contact-item {
  margin-bottom: 30px;
  font-size: 1.3rem;
}

.contact-icon {
  font-size: 3.5rem;
  color: var(--main-color);
  display: block;
  margin: 0 auto 15px;
}

.contact-tel,
.contact-mail {
  color: var(--main-dark);
  display: inline-block;
}

.contact-tel:not(:last-of-type) {
  margin-right: 10px;
}

.contact-days {
  margin-bottom: 10px;
  font-weight: 700;
}

.contact-hours:not(:last-of-type) {
  display: inline-block;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: var(--main-color);
  font-size: 3.5rem;
  cursor: pointer;
  transition: 0.3s linear;
}
.social-link:not(:last-of-type) {
  margin-right: 20px;
}
.social-link:hover {
  color: var(--main-dark);
}

@media only screen and (min-width: 576px) {
  .contact__details {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact-item {
    width: 45%;
  }

  .social-icons {
    flex-grow: 1;
  }
}

@media only screen and (min-width: 768px) {
  .contact__details {
    justify-content: center;
  }

  .map {
    height: 500px !important;
  }
}

@media only screen and (min-width: 992px) {
  .contact-item {
    width: 30%;
    margin-bottom: 0;
  }
  .contact-item:last-of-type{
    margin-top: 30px
  }

}

@media only screen and (min-width: 1200px) {
  .contact__details {
    max-width: 1200px;
    margin: 50px auto;
  }

  .contact-item {
    margin-bottom: 0;
    font-size: 1.3rem;
  }
  .map {
    height: 700px !important;
  }
}