.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 15px 80px 15px;
  text-align: center;
  height: 70vh;
}

.hero-content {
  color: var(--main-white);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.7rem;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 576px) {
  .hero-content-wrapper {
    padding: 0 80px 80px;
  }

}
@media only screen and (min-width: 768px) {
  .hero-content {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-content-wrapper {
    padding: 0 120px 120px;
  }
}
@media only screen and (min-width: 1400px) {
  .hero-content-wrapper {
    padding: 0 200px 180px;
  }
  .hero-content {
    font-size: 2.3rem;
  }
}
@media only screen and (min-width: 1600px) {
  .hero-content-wrapper {
    padding: 0 300px 220px;
  }
}