@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700&display=swap&subset=latin-ext');

:root {
  --main-color: #d6a533;
  --secondary-color: #bd9d53;
  --main-dark: #333;
  --main-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Old Standard TT', serif;
  background: var(--main-white);
  color: var(--main-dark);
  margin: 0;
  padding: 0;
}

body *:focus {
  outline: none;
}

a {
  text-decoration: none;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
