@import url('https://fonts.googleapis.com/css?family=Cabin:400,400i,700|Crimson+Text:400,700|Lateef&display=swap&subset=latin-ext');
/* font-family: 'Cabin', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Crimson Text', serif; */


:root {
  --main-color: #d4c36d;
  --secondary-color: #bd9d53;
  --main-dark: #333;
  --main-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Crimson Text', serif;
  background: var(--main-white);
  color: var(--main-dark);
  margin: 0;
  padding: 0;
}

body *:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2,h3,h4,h5,h6 {
  font-family: 'Lateef', cursive;
}

@media (min-width: 992px) {
  html {
    font-size: 16px;
  }
}
