@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Lateef|Raleway:300,400,500,700&display=swap&subset=latin-ext');

/* font-family: 'Cabin', sans-serif;
font-family: 'Lateef', cursive;
font-family: 'Crimson Text', serif; */
/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif; */


:root {
  --main-color: #d4c36d;
  --secondary-color: #bba63b;
  --main-dark: #333;
  --main-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Crimson Text', serif;
  background: var(--main-white);
  color: var(--main-dark);
  margin: 0;
  padding: 0;
}

body *:focus {
  outline: none;
}

a {
  text-decoration: none;
}

h1, h2,h3,h4,h5,h6 {
  font-family: 'Lateef', cursive;
}

.tl-edges {
  overflow: visible;
}

