.categories {
  display: flex;
  flex-direction: column;
  margin: 0 -20px;
  padding-bottom: 40px;
}

.title {
  text-align: center;
  margin-top: 40px;
}

@media only screen and (min-width: 576px) {
  .categories {
    margin: 30px 0 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .title {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 768px) {
  .categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  .title {
    margin-top: 50px;
  }
}